body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.App{
    max-height: 95vh;
    text-align: center;


}
#menu{
background-color: beige;
border-style: solid;
border-color: black;
border-width: 1px;
height: 95vh;
overflow-y: scroll;
}

@media (orientation: landscape) {
    .App{
        display: flex;
        flex-direction: row;
    }
    #menu{
        width: 50%;
    }
    #a{
        width: 50%;
    }
}

@media (orientation: portrait) {
    .App{
        display: flex;
        flex-direction: column-reverse;
    }    
    #menu{
        max-height: 50vh;
        width: 100%;
    }
    #chat{
        max-height: 50%;
        width: 100%;
    }
    svg {
        align-self: center;
    }
    #a{
        width: 100%;
        max-height: 50vh;
    }
}
#inputChat{
    width:100%
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    margin: 0;
    padding: 1em;
    font-family: sans-serif;
    background: #f0f0f0;
  }
  #a{
    display: flex;
    flex-direction: row;
}
select{
    width:100%
}
  
/*   [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-drag: element;
    user-drag: element;
  } */
  
  svg g polygon{
    stroke-width: 0.2;
    stroke:black;

    fill-opacity: 0.8;
/*     scale: 2; */
  }
  svg g:hover {
    fill-opacity: 1;
  }
/*   svg g:hover text {
    fill-opacity: 1;
  }
*/

  svg g text {
    
    font-size: 0.1em;
    fill-opacity: 1;
    pointer-events: none;
    user-select: none;

  }
  svg path {
    fill: none;
    stroke-linecap: round;
    pointer-events: none;
    stroke: rgb(51, 51, 180);

    stroke-width: 0.3;
  }
  svg g.small path{
    stroke-dasharray: 1px;
}
svg g.ville polygon{
    fill:rgb(189, 19, 19);
}
svg g.agriculture polygon{
    fill:rgb(211, 139, 57);
}
svg g.foret polygon{
    fill:rgb(32, 138, 6);
}
svg g.water polygon{
    fill:rgb(57, 111, 211);
}
svg g.true polygon{
    fill-opacity: 1;
}
svg g.notInBassin polygon   {
    fill-opacity: 0;
    stroke-width: 0;
}

svg g.premier text{
    fill: rgb(32, 138, 6);

}
svg g.deuxieme text{
    fill:rgb(51, 51, 180)

}
svg g.troisieme text{
    fill: rgb(189, 19, 19)

}
.chat{
/*     position: absolute;
    top: 0;
    left: 5%; */
    display: flex;
    flex-direction: column;
    width: 50%;
}
div.convo{
    
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}
 .message{
    align-self: flex-end;
    max-width: 80%;

}
.msg{

    background-color: blue;
    color: #f0f0f0;
    padding: 0 0.5em;
    border-radius: 1em;

}
p{    word-break: break-word;}
.authore{
    font-size:0.8em;
} 
.message.received{
    align-self: flex-start;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }