body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}
#menu{
background-color: beige;
border-style: solid;
border-color: black;
border-width: 0.5;
}
@media (orientation: landscape) {
    .App{
        display: flex;
        flex-direction: row;
    }
    #menu{
        width: 50%;
    }
}

@media (orientation: portrait) {
    .App{
        display: flex;
        flex-direction: column-reverse;
    }    
    #menu{
        width: 100%;
    }
    svg {
        align-self: center;
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    margin: 0;
    padding: 1em;
    font-family: sans-serif;
    background: #f0f0f0;
  }
  
/*   [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-drag: element;
    user-drag: element;
  } */
  
  svg g polygon{
    stroke-width: 0.2;
    fill-opacity: 0.5;
/*     scale: 2; */
  }
  svg g:hover {
    fill-opacity: 1;
  }
/*   svg g:hover text {
    fill-opacity: 1;
  }
*/
  svg g polygon {
    stroke-width: 0.2;
    stroke-opacity: 0.5;
    stroke:black;
  }
  svg g text {
    
    font-size: 0.1em;
    fill-opacity: 1;
    pointer-events: none;
    user-select: none;

  }
  svg path {
    fill: none;
    stroke-linecap: round;
    pointer-events: none;
    stroke: rgb(51, 51, 180);

    stroke-width: 0.3;
  }
svg g.ville polygon{
    fill:rgb(189, 19, 19);
    
}
svg g.agriculture polygon{
    fill:rgb(211, 139, 57);
}
svg g.foret polygon{
    fill:rgb(32, 138, 6);
}
svg g.true polygon{
    fill-opacity: 1;
}
svg g.notInBassin polygon{
    fill-opacity: 0.5;
    fill: #000000;
}
Text.a{
fill: rgb(32, 138, 6);
}
Text.b{
    fill: rgb(189, 19, 19)
}
Text.c{
    fill:rgb(51, 51, 180)
}

